QMainWindow, QMenuBar, QMenu
{
    background : rgb(28, 28, 40);
    color: white;
}

QTabWidget::pane
{
    border-top: none;
    background-color:rgb(18, 18, 25);
}

QTabBar::tab 
{
    background-color: rgb(18, 18, 25);
    min-width: 8ex;
    width: 150px;
    padding: 5px;
    color: white;
}

QTabBar::tab::selected
{
    font-weight: bold;
}

QTabBar::tab::hover
{
    color: rgb(233, 226, 110);
}